<header id="header" class="header-transparent">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="home">AQM</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children"><a href="/measurement">Graphiques</a>
          <ul>
            <li><a href="/temperature">Température</a></li>
            <li><a href="/humidity">Taux d'humidité</a></li>
            <li><a href="/ppm">Concentration CO₂</a></li>
          </ul>
        </li>
        <li class="nav-item active">
          <a class="btn rounded-pill btn-dark py-1 px-3 text-white"
          (click)="onSignOut()"
          *ngIf="isAuth"
          >Déconnexion</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
